* {
	background: #777777;
	/*color: #dddddd;*/
	border: 1px solid #000000;
}

/*scroll bar*/
QScrollBar:vertical {
	background: #555555; /*scrollbar background*/
	color: #dddddd; /*scrollbar arrows*/
	width: 20px;
}
QScrollBar::handle:vertical {
	background: #777777; /*actual scrollbar color*/
	min-height: 0px;
}


QMenu {
	background-color: #777777; /* sets background of the menu */
	border: 1px solid black;
}

QMenu::item {
	/* sets background of menu item. set this to something non-transparent
        if you want menu color and menu item color to be different */
	background-color: transparent;
}

QMenu::item:selected {
	/* when user selects item using mouse or keyboard */
	background-color: #8500ad;
}

QMenuBar {
	background-color: qlineargradient(
		x1: 0,
		y1: 0,
		x2: 0,
		y2: 1,
		stop: 0 #555555,
		stop: 1 #777777
	);
	spacing: 3px; /* spacing between menu bar items */
}

QMenuBar::item {
	padding: 1px 4px;
	background: transparent;
	border-radius: 4px;
}

QMenuBar::item:selected {
	/* when selected using mouse or keyboard */
	background: #004f2a;
}

QMenuBar::item:pressed {
	background: #8500ad;
}
